meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
title= title
meta(property='og:title' content=title)
meta(name='description' content=`$${request.raised} raised in ${request.since}. Contribute to this request and help turn it into reality.`)
meta(property='og:description' content=`$${request.raised} raised in ${request.since}. Contribute to this request and help turn it into reality.`)
meta(property='og:url' content=`https://dreambounty.com${url}`)
meta(property='og:image:type' content='image/png')
meta(property='og:image:width' content='500')
meta(property='og:image:height' content='500')
meta(property='og:image' content=request.avatar)
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='@dreambounty')
meta(name='twitter:title' content=title)
meta(name='twitter:description' content=`$${request.raised} raised in ${request.since}. Contribute to this request and help turn it into reality.`)
meta(name='twitter:image' content=request.avatar)
